

body{
    background-color: #fff;
    width: 100%;
}


.container {
    margin: auto;
}
 
.space-area {
    margin-top: 20px;
}
 

input[type=text]{
    width: 80%;     
    margin: 8px 100px;
    box-sizing: border-box;
    font-size:20px;
    border-radius: 25px;
    border: 2px solid #ccc;
    padding: 20px;  
    height: 15px; 
}
